<div class="bg-green-500 p-2">
    <div class="grid grid-cols-2">
        <div>
            <a routerLink="" class="">MEA</a>
        </div>
        <div class="">
            <a routerLink="mymodules" class=" text-white hover:bg-green-300 p-3">My Modules</a>
            <a routerLink="enroll" class=" text-white hover:bg-green-300 p-3">Enroll</a>
            <a routerLink="signup" class=" text-white hover:bg-green-300 p-3">Sign In</a>
            <a routerLink="login" class=" text-white hover:bg-green-300 p-3">Login</a>
        </div>
    </div>
</div>

