<div class="text-4xl text-center py-5">Enroll Form</div>
<div class="text-xl text-center">Each student must select more than 1 module in order to register</div>
<div class="mx-28 my-5">
    <ul class="grid gap-6">
        <li>
            <input type="checkbox" id="first-option"  class="hidden peer">
            <label for="first-option" class="inline-flex items-center justify-between p-5 hover:bg-slate-200 border-2 w-full cursor-pointer rounded-lg peer-checked:border-green-500">
            <div class="block">
                <div class="text-xl">Module 1</div>
                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</div>
            </div>
        </label>
        </li>
        <li>
            <input type="checkbox" id="second-option"  class="hidden peer">
            <label for="second-option" class="inline-flex items-center justify-between p-5 hover:bg-slate-200 border-2 w-full cursor-pointer rounded-lg peer-checked:border-green-500">
            <div class="block">
                <div class="text-xl">Module 2</div>
                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</div>
            </div>
        </label>
        </li>
        <li>
            <input type="checkbox" id="third-option"  class="hidden peer">
            <label for="third-option" class="inline-flex items-center justify-between p-5 hover:bg-slate-200 border-2 w-full cursor-pointer rounded-lg peer-checked:border-green-500">
            <div class="block">
                <div class="text-xl">Module 3</div>
                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</div>
            </div>
        </label>
        </li>
    </ul>
    <div class="justify-end">
        <button type="submit" class=" py-2 px-24 bg-green-400 rounded-md">Enter</button>
        <button type="button" class=" py-2 px-24 bg-green-400 rounded-md">Cancel</button>
    </div>
    
</div>