<div class="mx-auto my-5">
    <div class="text-4xl text-center py-5">Enroll Form</div>
    <div class="text-xl text-center">Each student must select more than 1 module in order to register</div>
    <div class="mx-auto max-w-screen-md my-5">
        <ul class="grid gap-6">
            
            <app-module *ngFor="let module of moduleList" [module]="module"></app-module>

        </ul>
        <div class="my-10 flex items-center justify-between">
            <app-button title="Enter" colour="bg-green-400 py-2 px-24 rounded-md"></app-button>
            <!-- <button type="button" class=" py-2 px-24 bg-green-400 rounded-md">Cancel</button> -->
            <app-button title="Cancel" colour="bg-green-400 py-2 px-24 rounded-md"></app-button>
        </div>
        
    </div>
</div>