<h2 class="text-center text-4xl py-12 ">About Page</h2>
<img class="mx-auto" src="/assets/kimberly-farmer-lUaaKCUANVI-unsplash.jpg">
<p class="text-center p-5">Students wanting to enroll in a course must please navigate to the enroll form. </p>
<div class="flex justify-center">
    <button class=" bg-green-500 text-center p-3 rounded-md flex">
        Enroll Now
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12.75 15l3-3m0 0l-3-3m3 3h-7.5M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
        </svg>
    </button>
</div>