<div class="mx-auto max-w-screen-xl">
    <div>
        <div class="text-4xl text-center py-5">My Modules</div>
    </div>

    <div *ngIf="user">
        <div class="my-4">
            <h2 class="text-4xl">Student: {{user.firstName}} {{user.lastName}}</h2>
            <h2 class="text-2xl">Email: {{user.email}}</h2>
        </div>
        <p class="my-4">Modules you are enrolled in...</p>
        <ul class="grid grid-cols-3 gap-6 ">
            <li *ngFor="let user of user.userModules" >
                <label class="inline-flex items-center justify-between p-5 bg-white hover:shadow-lg border-2 border-white w-full cursor-pointer rounded-lg">
                    <div class="block">
                        <div class="text-xl">{{user.title}}</div>
                        <div>{{user.description}}</div>
                    </div>
                </label>
            </li>
        </ul>
    </div>
</div>
